@using Modelos
@model IEnumerable<ALARMA>
@{
    Layout = "/Views/Shared/_LayoutAlarma.cshtml";
}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1" style="margin-top:10px">
        <br />
        <h3>Alarmas Programadas</h3>
        <br />
        @if (!Model.Any() && ViewBag.AccesoSinUbi == null)
        {
            <div class="alert alert-warning">Programa una alarma para tu vehiculo</div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="col">
                    <i class="bi bi-alarm">
                        @item.Fecha
                    </i>
                </div>
                <div class="col">
                    @using (Html.BeginForm("DeleteAlarma", "Alarma", new { ALARMAid = item.ALARMAid }, FormMethod.Post))
                    {
                        <button type="submit" style="margin:30px;" class="btn d-inline-flex btn-sm btn-primary">
                            <i class="bi bi-trash"></i>
                        </button>
                    }
                    <button type="submit" style="margin:30px;" class="btn d-inline-flex btn-sm btn-primary">
                        <a href="@Url.Action("UpdateAlarma","Alarma")" style="text-decoration:none; color:white">
                            Actualizar Alarma
                        </a>
                    </button>
                </div>
                <br />
            }
        }

        @if (ViewBag.AccesoNewAlarm != null)
        {
            <div class="alert alert-warning">@ViewBag.AccesoNewAlarm</div>
        }
        @if (ViewBag.SuccessActualizar != null)
        {
            <div class="alert alert-success">@ViewBag.SuccessActualizar</div>
        }
        @if (ViewBag.NewAlarma != null)
        {
            <div class="alert alert-success">@ViewBag.NewAlarma</div>
        }
        @if (ViewBag.NewAlarmaError != null)
        {
            <div class="alert alert-success">@ViewBag.NewAlarmaError</div>
        }
        @if (ViewBag.AccesoSinUbi != null)
        {
            <div class="alert alert-success">@ViewBag.AccesoSinUbi</div>
        }
        
        

        <br />
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/localizacion.js"></script>
<script src="~/js/alarma.js"></script>
