@using Modelos
@model ALARMA
@{
    ViewBag.Title = "www.compilemode.com";
    Layout = "/Views/Shared/_LayoutAlarma.cshtml";
}

@using (Html.BeginForm("UpdateAlarma", "Alarma",FormMethod.Post ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding-left:100px">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @style = "width:30%" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        @if (ViewBag.SuccessActualizar != null)
        {
            <p class="alert alert-success">@ViewBag.SuccessActualizar</p>
        }

        <br>
        <br>
        <button class="btn d-inline-flex btn-sm btn-primary mx-1">
            <span class="pe-2">
                <i class="bi bi-plus"></i>
            </span>
            <span>Actualizar</span>
        </button>

    </div>
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/localizacion.js"></script>
<script src="~/js/alarma.js"></script>

